*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.line{
   display: block;
   background-color: #000;
   width: 20px;
   height: 2px;
   margin: 4px auto;
   transition: all 0.5s ease-in-out;
  
}
